{% extends 'base.html' %}

{% block title %}
    My Schedule
{% endblock %}

{% block content %}
<h1>My Schedule for {{ month }}/{{ year }}</h1>

<table class="schedule-table">
    <thead>
        <tr>
            <th>Day</th>
            <th>Shift</th>
        </tr>
    </thead>
    <tbody>
        {% for shift in shifts %}
        <tr style="background-color: {{ shift.color }}; color: white;">
            <td>{{ shift.day }}</td>
            <td>
                {% if shift.shift == 'unselected' %}
                    Not Selected
                {% else %}
                    {{ shift.shift | capitalize }} Shift
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}