{% extends 'base.html' %}

{% block title %}
    Profile
{% endblock %}

{% block content %}
<h1>Profile</h1>

<form method="POST" enctype="multipart/form-data">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="{{ user.name }}" required>

    <label for="surname">Surname:</label>
    <input type="text" id="surname" name="surname" value="{{ user.surname }}" required>

    
    <label for="profile_photo">Profile Photo:</label>
    {% if user.profile_photo %}
        <img src="{{ url_for('static', filename=user.profile_photo.split('static/')[-1]) }}" alt="Profile Photo" width="150">
    {% endif %}
    <input type="file" id="profile_photo" name="profile_photo" accept="image/*">

    <button type="submit">Save Changes</button>
</form>
{% endblock %}